/* 배경 */



body {

    height: auto !important;

    background: #;    /* 배경색 코드 입력 */

        /* ex) background: #ffffff; */

}



/* 로고 */



header .row>div:nth-child(1)>a {

    display: block;

    width: 200px;

    height: 50px;

    background: url() no-repeat; /* url(로고 경로 입력) */

    background-size: auto 50px;

}



header .row>div:nth-child(1)>a>img {

  display: none;

}



/* 검색창 */



header #right-search-form>input[type=text] {

    border: 3px solid #; /* 검색창 테두리 색 */

    border-radius: 15px;

}



/* 검색 버튼 */



header #right-search-form>#right-search-btn {

    color: #; /* 검색창 옆 돋보기 색 */

}



/* 배너 */



header #header-bar>.row, #main .menu-wrapper, #main #main-content>div.frame {

    border-radius: 15px;

}



/* 광고 배너 */



header #header-bar>.row {

    border-top: 5px solid # !important; /* 광고 배너 테두리 색 */

    border: 1px solid #; /* 광고 배너 테두리 색 */

}



/* 광고 배너 광고 뱃지 */



header #header-bar #header-top-notice strong.notice-badge {

    background: #; /* 광고 배너 광고 뱃지 배경 색상 */

}



/* 좌측 배너 */



#main .menu-wrapper {

    border: 1px solid #; /* 좌측 배너 테두리 색 */

    border-top: none !important;

}



/* 좌측 배너 헤더 */



#main .menu-wrapper>.header {

    background: #; /* 좌측 배너 제목 배경 색 */

    border-radius: 15px 15px 0 0;

}



/* 좌측 배너 빈 공간 */



#main .menu-wrapper .spacer {

    background: none;

}



/* 좌측 배너 하단 */



#main .menu-wrapper a:nth-last-child(1) {

    border-radius: 0px 0px 15px 15px;

}



/* 메인 배너 */



#main #main-content>div.frame {

    border-top: 5px solid # !important; /* 메인 배너 테두리 */

    border: 1px solid #; /* 메인 배너 테두리 */

}



/* 접속자 수 */



#board-info #viewers-area {

    color: #; /* 접속자 수 글씨 색 */

}



#board-info #viewers-area #viewers:before {

    content: " ";    /* 숫자 앞에 들어갈 문구 */

        /* ex) content: "트수 "; */

        /* 출력 시 : 트수 n */

    cursor: text;

}



#board-info #viewers-area #viewers:after {

    content: "";    /* 숫자 뒤에 들어갈 문구 */

        /* ex) content: "명 접속중"; */

        /* 출력시 : n명 접속중 */

    cursor: text;

}



/* 메인 배너 글 공지 */



#article-list>.article-list-row.notice {

    background-color: #; /* 공지 배경 색 */

}



/* 글 추천 수 */



#article-list>.article-list-row>.item>.list-header>span {

    background-color: #; /* 글 추천 수 배경 색 */

}



/* 댓글 수 */



#article-list>.article-list-row>.item>.list-title>small.comment-count {

    color: #; /* 댓글 수 색 */

}



#article-reply-area > .header h5 {

    color: #; /* 댓글 수 색 */

}



/* 인기글 버튼 */



#article-list #article-list-menu>.btn.best {

    border-radius: 15px;

}



/* 설정 버튼 */



#article-list #article-list-menu>.btn.cog {

    border-radius: 15px;

}



/* 삭제 버튼 */



#article-list #article-list-menu>.btn.del {

    border-radius: 15px;

}



/* 글 쓰기 버튼 */



#article-list #article-list-menu>.btn.write {

    border-radius: 15px;

}



.btn-primary {

    background-color: #; /* 글 쓰기 버튼 배경 색 */

    border-color: #; /* 글 쓰기 버튼 배경 색 */

}



/* 목록 버튼 */



.btn {

    border-radius: 15px;

}



.btn-group-sm>.btn, .btn-sm {

    border-radius: 15px;

}



/* 게시글 추천 */



.btn-outline-success {

    color: #; /* 추천 버튼 배경 색 */

    border-color: #; /* 추천 버튼 테두리 색 */

}

commit test..